
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>About The Books and Products</h1>

@section footersection
{
    <a asp-asp-controller="Home" asp-action="Index">Back to home</a>
}

